# nodejs
PORT=3000
API_PREFIX=https://server.my-homie.ru/api

# postgres settings
POSTGRES_USERNAME=xiagn17
POSTGRES_PASSWORD=xiagn17homie
POSTGRES_DATABASE=homie_db
# network path
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
# redis settings
REDIS_HOST=redis
REDIS_PORT=6379
# typeorm settings
TYPEORM_SYNCHRONIZE=false
TYPEORM_LOGGING=true
TYPEORM_MIGRATIONS_RUN=true

# telegram settings
TELEGRAM_TOKEN=5003093581:AAEiV1DdM8sh3Femv9NL5dEJTTndGahdt08
TELEGRAM_BOT_ID=5003093581

# payments
YOUKASSA_KEY=live_HBZKNSYVuBwAGGijNIOQhODi9PJKSc9hMEYc5EDswDE
YOUKASSA_SHOP_ID=856103
ONE_WEEK_SUBSCRIPTION_PRICE=499
TWO_WEEKS_SUBSCRIPTION_PRICE=749
MONTH_SUBSCRIPTION_PRICE=999

# google google-analytics
GOOGLE_ANALYTICS_ID=UA-204205770-2

# custom settings
ADMIN_USERNAME=homie_admin
SUBADMIN_USERNAME=dbr26
