# nodejs
PORT=3000

# postgres settings
POSTGRES_USERNAME=xiagn17
POSTGRES_PASSWORD=xiagn17homie
POSTGRES_DATABASE=homie_db
# network path
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
# typeorm settings
TYPEORM_SYNCHRONIZE=false
TYPEORM_LOGGING=true
TYPEORM_MIGRATIONS_RUN=true

# telegram settings
TELEGRAM_TOKEN=1996984517:AAFavrE0pzX5TCdUsx1gmkIsg-8QEy9TNKM
SENDPULSE_CLIENT_ID=a067f09218be3a67a082a89412489667
SENDPULSE_CLIENT_SECRET=5a87878e3ca511c655e3656e77eaf9c0

# custom settings
TRIAL_FREE_MATCHES_COUNT=2
PAID_MATCHES_COUNT=2
